spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/taskmanager
    username: taskuser
    password: taskpass

  data:
    redis:
      host: localhost
      port: 6379

  app:
    cache:
      redis:
        enabled: true
    kafka:
      topics:
        task-events: task-events

  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer






  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml


  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false


  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

logging:
  level:
    liquibase: info
